Options -MultiViews
  PassengerResolveSymlinksInDocumentRoot on
  #Set this to whatever environment you'll be running in
  RailsEnv production
  RackBaseURI /bw_send
  SetEnv GEM_HOME /home8/boondoc4/.rvm/gems/ruby-1.9.3-p286
