/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
ul.small-row {
  li {
    list-style-type: none;
    i {
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      color: orange;
      font-size: 26px;
      overflow: hidden;
      line-height: 1.5;
      font-size: 26px;  

      p, a { 
        font-size: 12px;
        display: inline;
        position: relative;
        top: -8px;
        margin-left: 8px;
      }
    }
  }
}
i.general {color: #e37f1d;}
 i p { 
  display: inline;
  position: relative;
  top: -2px;
  margin-left: 10px;
  color: #333;
 }

.top-bar > ul .name img {margin-top:10px !important;}

.file-table {
  width: 100%;
  border-collapse: collapse;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 10px;
  margin: 0 0 0px 0;
  padding: 0px;
  height: 37px;
  width: 100%;
  border: 1px solid #CCC;  
}

.red {color: red;}

.errorExplanation {
  h2 {
    font-size: 18px;
    color: red;
  }
  ul {
    margin-left: 42px;
    color: red;
  }
}

.field_with_errors {
  label { color: red;}
  input {border: 1px solid red !important;}
}

.email-input {
  margin-bottom: 10px;
}

.delete_fields i {color:red;}
.errorExplanation h2 {display:none;}

.checkbox-error {
  border-color: #C60F13 !important;
  background-color: rgba(198, 15, 19, 0.1) !important;
}
.red {color: red !important;}
.radius.email-input.checkbox-error i, .radius.email-input.checkbox-error i p {color: red !important;}

.orange.button.radius {
  background: #db6b17;
  &:hover {
    background: darken(#db6b17, 12%);
  }
}

h4.subheader {color: #4e4e4e;}

.fadeIn {
   -webkit-animation: fadein 1.5s;
       -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
         -o-animation: fadein 1.5s;
            animation: fadein 1.5s;            
}

@keyframes fadein {
    from { opacity: 0; } to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; } to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; } to { opacity: 1; }
}
