/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
ul.small-row {
  li {
    list-style-type: none;
    i {
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      color: orange;
      font-size: 26px;
      overflow: hidden;
      line-height: 1.5;
      font-size: 26px;  

      p, a { 
        font-size: 12px;
        display: inline;
        position: relative;
        top: -8px;
        margin-left: 8px;
      }
    }
  }
}
i.general {color: #e37f1d;}
 i p { 
  display: inline;
  position: relative;
  top: -2px;
  margin-left: 5px;
  color: #333;
 }

.top-bar > ul .name img {margin-top:10px !important;}

.file-table {
  width: 100%;
  border-collapse: collapse;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  margin: 0 0 12px 0;
  padding: 6px;
  height: 32px;
  width: 100%;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.red {color: red;}

.errorExplanation h2 { font-size: 17px; color: white; }
.errorExplanation {
  border: 1px solid red;
  padding: 8px;
  color: white;
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.field_with_errors input {
  border: 1px dotted red;
}

body > .alert-box {text-align: center; width: 100%; border-left: 0; border-right: 0; padding: 10px 0 !important; margin: 0 !important; position: fixed !important; z-index: 11;top:0px;border-radius: 0;}
