<style>
.errorExplanation h2 {display:none;}
</style>

  <div class="row">
    <br>    
    <div class="twelve columns">
      <div class="row">
      </div>
    </div>
  </div>
 
 <br>
 <br>
 
  <div class="row">
    <div class="twelve columns">
      <div class="row">
 
    <!-- Content -->
 
        <div class="eight columns centered">
          <div class="panel radius">
            <div class="row">
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <span class="main-listing">
                    <h2 style="text-align: centered;">Uh-oh!</h2>
                    <p class="lead">it appears that file is no longer available :(</p>
                    <hr />
                    
                    <p class="lead"><a class="button nice radius small" href="/">go to homepage</a></p>
                </div>
              </div>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="two mobile-one columns">
                    </div>
                    <div class="ten mobile-three columns">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="twelve columns centered">
                    </div>
                  </div>
                </div>
              <br>
              <div class="row">
                <div class="nine columns centered">
                  <div class="row collapse">
                    <div class="two mobile-one columns">
                    </div>
                    <div class="ten mobile-three columns">
                      <br>
                    </div>
                  </div>
                </div>
              </div>
                <br>
                <br>
            </div>
          </div>
        </div>
 
    <!-- End Content -->
 
      </div>
